h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Bai Jamjuree', sans-serif;
}

.titular {
    font-weight: 600;
    color:#4f5459;
}

.primario {
    color:hsl(171, 66%, 44%);
}

.primarioDos {
    color: hsl(233, 100%, 69%);
}

/*.colorTexto {
    color: hsl(210, 10%, 33%);
}*/

.colorTextoDos {
    color:hsl(201, 11%, 66%);
}

.textoBody {
    line-height: 1.5;
    letter-spacing: 1.6;
    font-size: 18px;
    color:hsl(201, 11%, 66%);
}

#hero {
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}

.btn-primario {
    color: #FFFFFF;
    background-color: hsl(171, 66%, 44%);
    padding:13px 34px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    border-color: hsl(171, 66%, 44%);
}

.btn-secundario {
    color: #FFFFFF;
    background-color: hsl(233, 100%, 69%);
    padding: 13px 34px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    border-color: hsl(233, 100%, 69%);
}

#two {
   padding-bottom: 90px;
}



@media (max-width: 768px) {
    .btn-primario, .btn-secundario {
        font-size:17px;
        padding:13px 70px;
    }

    .textoBody {
        font-size: 17px;
    }

    

}
